@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
:root {
  --bg: #d6bab9;
  --indigo: #b8873d;
  --purple: #6f42c1;
}
body {
  margin: 0 30px;
  background-color: var(--bg);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.sub {
  font-size: 0.7em;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 30px 30px 30px;

  /*/ display: flex;
  //justify-content: space-between;
  //align-items: center;
  //background-color: lightblue;*/
}
.header {
  overflow: hidden;
  z-index: 10;
  /* background: #007bff; */
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 30px;
  margin: 0;
}
.header .logo img {
  text-decoration: none;
  height: 59px;
  background: #007bff;
  border: 1px solid #000;
  margin: 0;
  padding: 0;
}
/*.one {
  / display: flex;
  //justify-content: space-between;
  //align-items: center;
  //background-color: lightblue;
}*/
.one {
  display: inline-block;
  list-style-type: none;
  /* margin: 0; */
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0;
}
.one li {
  float: left;
}
.one li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 10px;
}
.one li a:hover,
.one li a.active {
  background-color: #fff;
}
.container {
  padding: 0;
}
.container .box {
  margin: 0 auto;
  margin-bottom: 16px;
  display: inline-block;
  background-color: #fff;
  padding: 12px;
  border-radius: 12px;
  width: 100%;
}
.container .box .thumb {
  float: left;
  background-color: white;
  width: 260px;
  height: 160px;
  margin-right: 20px;
  background: #ccc;
}
.container .box .recipe {
  display: inline-block;
  margin-bottom: 0.6em;
}
.container .box .recipe h2 {
  margin-bottom: 0.3em;
  /* font-size: 1.6em; */
}
.container .box .recipe h2 a {
  color: #000;
  /* font-size: 1.6em; */
}
.container .box .recipe .portata a {
  color: #007bff;
}
.box .details {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.box .details li {
  background-image: url("https://raw.githubusercontent.com/meskeight/ricette/main/img/icons.png");
  background-repeat: no-repeat;
  overflow: hidden;
  line-height: 21px;
  padding-left: 38px;
  margin-top: 1em;
}
.box .details li.portata {
  background: none;
  padding-left: 0;
}
.box .details li.livello {
  background-position-y: 0;
}
.box .details li.tempo {
  background-position-y: -21px;
}
