.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-flow: dense;
  grid-gap: 1em;
  margin: 1rem 0;
}
.container--fit {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.child {
  background: #82c7eb;
  display: block;
  padding: 2em;
  font-size: 1.2rem;
  color: #f5f5f5;
  text-align: center;
}
